*** USE THE CONCEPT OF FUNCTIONS TO SOLVE THE BELOW PROGRAMMING QUESTIONS ***

1) Write a Python function to sum all the numbers in a list.

Sample List : (8, 2, 3, 0, 7)

Expected Output : 20

In [1]:
#WRITE YOUR CODE HERE
def sum_of_list(numbers):
    return sum(numbers)  # Using the built-in sum() function

sample_list = [8, 2, 3, 0, 7]

print("Sum of the list:", sum_of_list(sample_list))

Sum of the list: 20

2) Write a Python function to multiply all the numbers in a list.

Sample List : (8, 2, 3, -1, 7)

Expected Output : -336

In [2]:
#WRITE YOUR CODE HERE
def multiply_list(numbers):
    result = 1
    for num in numbers:
        result *= num  # Multiply each number
    return result

sample_list = [8, 2, 3, -1, 7]

print("Product of the list:", multiply_list(sample_list))

Product of the list: -336

3) Write a Python program to reverse a string.

Sample String : "1234abcd"

Expected Output : "dcba4321"

In [3]:
#WRITE YOUR CODE HERE
def reverse_string(s):
    return s[::-1]  # Slicing method to reverse the string

sample_string = "1234abcd"

print("Reversed string:", reverse_string(sample_string))

Reversed string: dcba4321

4) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [4]:
#WRITE YOUR CODE HERE
def factorial(n):
    if n < 0:
        raise ValueError("Factorial is not defined for negative numbers")
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

number = 5
print(f"Factorial of {number} is:", factorial(number))

Factorial of 5 is: 120

5) Write a Python function to check whether a number falls within a given range.

In [5]:
#WRITE YOUR CODE HERE
def is_within_range(num, start, end):
    return start <= num <= end  # Checks if num is between start and end (inclusive)

num = 10
range_start = 5
range_end = 15

if is_within_range(num, range_start, range_end):
    print(f"{num} is within the range {range_start} to {range_end}.")
else:
    print(f"{num} is NOT within the range {range_start} to {range_end}.")

10 is within the range 5 to 15.