1.Remove empty strings from the list1 of strings

list1 = ["Mike", " ", "Emma", "Kelly", " ", "Brad"]

In [1]:
# write your code here
list1 = ["Mike", " ", "Emma", "Kelly", " ", "Brad"]

filtered_list = [name for name in list1 if name.strip()]

print("List after removing empty strings:", filtered_list)

List after removing empty strings: ['Mike', 'Emma', 'Kelly', 'Brad']

2.Write a program to add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

expected o/p ; [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [2]:
#  write your code here
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)

print("Updated List:", list1)

Updated List: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

3.You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

list1 = [5, 10, 15, 20, 25, 50, 20]

Expected output:
[5, 10, 15, 200, 25, 50, 20]

In [3]:
#write your code here
list1 = [5, 10, 15, 20, 25, 50, 20]

if 20 in list1:
    index = list1.index(20)
    list1[index] = 200

print("Updated List:", list1)

Updated List: [5, 10, 15, 200, 25, 50, 20]

4.Remove all occurrences of a specific item from a list.
Given a Python list, write a program to remove all occurrences of item 20.

list1 = [5, 20, 15, 20, 25, 50, 20]

Expected output:

[5, 15, 25, 50]

In [4]:
# write your code here
list1 = [5, 20, 15, 20, 25, 50, 20]

filtered_list = [num for num in list1 if num != 20]

print("Updated List:", filtered_list)

Updated List: [5, 15, 25, 50]

5.Concatenate two lists in the following order

list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

Expected output:

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [8]:
# write your code here

list1 = [5, 20, 15, 20, 25, 50, 20]

filtered_list = [num for num in list1 if num != 20]

print("Updated List:", filtered_list)

Updated List: [5, 15, 25, 50]